.dataOrigin {
    font-size: 40px;
}

.poetry {
    font-family: "Courier";
    font-size: 12px;
}

.percentage {
    font-family: "Courier";
    font-size: 16px;
    font-weight: bold;
}

.arrow-button {
    font-size: 10px;
    padding: 2px 10px;
    margin: 0 10px;
    height: 25px;
  }

.source {
    font-family: "Courier";
    font-size: 16px;
    color: black;
    fill: black;
}

.source-hover {
    font-family: "Courier";
    font-size: 18px;
    fill: grey;
}

.timePoint-hover {
    fill:#2d2d2d;
    r: 11;
}

.descrip {
    font-family: "Courier";
    font-size: 18px;
    color: black;
    fill: black;
}

.descrip-title {
    font-family: "Courier";
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.descrip-source {
    font-family: "Courier";
    font-weight: bold;
    font-size: 20px;
    fill: black;
}

.descrip-source-hover {
    font-family: "Courier";
    font-weight: bold;
    font-size: 21px;
    fill: rgba(0, 0, 0, 0.845);
}

.xlabels {
    font-weight: bold;
    font-size: 14px;
}

.forbutton-hover {
    font-size: 55px;
}

.backbutton-hover {
    font-size: 55px;
}

.filter {
    font-family: "Courier";
    font-size: 20px;
    fill: black;
}

.filter-hover {
    font-family: "Courier";
    font-size: 21px;
    fill: black;
}

.filter-clicked {
    font-family: "Courier";
    font-weight: bold;
    font-size: 22px;
}
